__pycache__/
api/__pycache__/
core/__pycache__/
services/__pycache__/
tests/__pycache__/
utils/__pycache__/
db/__pycache__/
pipeline/__pycache__/
notebooks/
pipeline/_backups/
pipeline/new_models.py
pipeline/ingestion.py
notebook/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.log
logs/

.venv/
venv/
env/
ENV/

.env
.env.*
!.env.example

.vscode/
.idea/
.DS_Store
Thumbs.db

postgres_data/


