__pycache__/
app/api/__pycache__/
app/core/__pycache__/
app/services/__pycache__/
app/services/scraper/COPY_OLD_statistics_service.py
app/tests/__pycache__/
app/utils/__pycache__/
app/db/__pycache__/
pipeline/__pycache__/
# notebooks/
# pipeline/_backups/
# pipeline/new_models.py
# pipeline/ingestion.py
tests/
app/api/COPY_live_routes.py
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.log
logs/

.venv/
.venv-airflow/
venv/
env/
ENV/

# .env
.env.*
!.env.example

.vscode/
.idea/
.DS_Store
Thumbs.db

postgres_data/
.pytest_cache/


