__pycache__/
api/__pycache__/
core/__pycache__/
services/__pycache__/
tests/__pycache__/
utils/__pycache__/
db/__pycache__/
pipelines/__pycache__/
notebooks/__pycache__
pipelines/_backups/
pipelines/new_models.py
pipelines/ingestion.py
notebooks/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.log
logs/

.venv/
venv/
env/
ENV/

.env
.env.*
!.env.example

.vscode/
.idea/
.DS_Store
Thumbs.db

postgres_data/


